body {
  background-color: #1e2334;
  font-family: Raleway;
}

div .cardCntr {
	padding-left: 45px;
	padding-right: 45px;
}

@media (max-width: 930px) {
	div .cardCntr {
		padding-left: 0;
		padding-right: 0;
	}	
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgb(102,82,139);
background: linear-gradient(90deg, rgba(102,82,139,1) 0%, rgba(91,89,139,1) 34%, rgba(76,70,153,1) 100%);
}

.google-btn {
	background: #614983 !important;
	color: white !important;
	font-weight: bold;
	font-family: 'Raleway' !important;
	margin-top: 8px;
}

.page-content {
	margin-top: 40px;
}

.site-layout {
	background: #2c3049;
	background: #38356c;
	background: #5a5883;
	background: #3e3c61;
	background: #373654;
}

.site-layout-background {
	background-color: #37375d;
	background: #38356c;
	background: #2c3049;
}
.trigger {
	color: white !important;
	font-size: 20px;
	padding-left: 10px;
	font-weight: bold;
}


.sideBar, .sideBar-menu {
	background-color: #1e2334 !important;
	color: white;
}

/*
.sideBar-submenu {
	background-color: #2c3049;
	color: white;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}*/




/*
.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 80%;
  font-size: 1.2em;
  background: #e1e1e1;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 20%;
}*/


.chat-page {
	padding: 0 0 0 0;
	background: #49476e;
	background: #4a4869;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}

.chat-page-header {
	height: 55px;
	font-size: 18px;
	font-weight: bold;
	background: #007bff none repeat scroll 0 0;
	background: linear-gradient(90deg, rgba(93,90,126,1) 0%, rgba(108,108,157,1) 35%, rgba(60,134,185,1) 100%);
	padding: 18px; 
	padding-top: 13px;
	padding-bottom: 13px;
	color: #fff; 
}

.msg-inbox {
	border: 1px solid #ccc;
	overflow: hidden;
	margin-top: 0;
}

.chats {
	padding: 30px 15px 0 25px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.msg-page {
	height: 290px;
	overflow-y: auto;
}

/*.received-chats-img {
	display: inline-block;
	width: 20px;
	float: left;

}

.received-msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received-msg-inbox {
	width: 57%;
}

.received-msg-inbox p {
	background: #e3deec none repeat scroll 0 0;
	border-radius: 12px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 7px 10px 7px 12px;
	width: 100%;
}

.time {
	color: #777;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}


.outgoing-chats {
	overflow: hidden;
	margin: 15px 10px;
}

.outgoing-chats-msg p {
	background: #007bff none repeat scroll 0 0;
	background: linear-gradient(90deg, rgba(93,90,126,1) 0%, rgba(108,108,157,1) 35%, rgba(60,134,185,1) 100%);
	color: #fff;
	border-radius: 14px;
	margin: 0;
	color: #fff;
	padding: 7px 10px 7px 12px;
	width: 100%;
}

.outgoing-chats-msg {
	float: left;
	width: 47%;
	margin-left: 47%;
}

.outgoing-chats-img {
	display: inline-block;
	width: 20px;
	float: right;
}*/


.msg-bottom {
	position: relative;
	height: 60px;
	background-color: #007bff;
	background: linear-gradient(90deg, rgba(93,90,126,1) 0%, rgba(108,108,157,1) 35%, rgba(60,134,185,1) 100%);
}

.input-group {
	float: left; 
	margin-top: 15px;
	margin-left: 35px;
	outline: none !important;
	border-radius: 20px;
	box-shadow: none !important;
}

.form-control {
	border: none !important;
	border-radius: 20px !important;
	width: 100%;
	color: #646464;
	background: #e3deec;
	padding: 6px 10px 6px 12px;
}

.input-group-text {
	background: transparent !important;
	border: none !important;
}

.input-group .fa {
	color: #007bff;
	color: rgb(93,90,126);
	float: right;
}


::-webkit-scrollbar {
    display: none;
}


.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 6px 20px;
  margin-bottom: 1px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 0;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Raleway;
  color: #828282;
  color: #e1e1e1;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979FF;
}

.backgroundLight {
  background: #F3F3F3;
}